:root {
    --font-family: "Funnel Sans", Arial, Helvetica, sans-serif;
    --header-color: rgba(0, 0, 0, 0.4);
    --letter-spacing: 2px;
    --menu-mobile-font-size: 0.9rem;
    --website-color-beige: #FFF5E1;
    --website-color-pink: #bd4e84;
    --website-color-grey: #383636;
}

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    background-image: url("../images/audience_dark.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    font-family: var(--font-family);
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.header {
    width: 100%;
}

.header-content {
    align-items: center;
    background-color: var(--header-color);
    color: var(--website-color-beige);
    display: flex;
    padding: 15px;
    width: 100%;
}

.header-site-logo {
    flex: 1;
}

.site-logo {
    height: 60px;
    width: auto;
}

.search-form {
    align-items: center;
    background-color: #bd4e84cc;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    height: 25px;
    padding-left: 7px; 
    padding-right: 10px;
}

.search-box {
    font-size: 0.8rem;
}

.search-box::placeholder {
    color: var(--website-color-beige);
    font-weight: bold;
    letter-spacing: var(--letter-spacing);
 }
 
.search-form:hover input {
    width: 400px;
}

.search-form input {
    background: transparent;
    border: none;
    color: var(--website-color-beige);
    font-weight: 500;
    outline: none;
    transition: ease-in 0.8s;
    width: 0;
}

.search-form a .fa {
    color: var(--website-color-beige);
    font-size: 1rem;
}

.search-form-mobile {
    display: none;
}

.search-box-mobile {
    display: none;
}

.fa-mobile {
    display: none;
}

.navigation-menu {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
}

.navigation-menu-items {
    display: flex;
    flex: 0 1 100%;
    justify-content: space-around;
    letter-spacing: 3px;
    list-style-type: none;
    padding: 0;
}

.nav-menu-button a {
    color: var(--website-color-beige);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    transition: ease 0.5s;
}

.nav-menu-button a:hover {
    color: var(--website-color-pink);
    font-size: 1.2rem;
    font-weight: bold;
    transition: ease 1s;
}

.nav-menu-button a[aria-current="page"] {
    background-color: rgba(255, 165, 0, 0.3);
    border-radius: 30px;
    border: none;
    font-weight: bold;
    padding: 15px 18px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--website-color-beige);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 35px;
}

.hero-title {
    font-family: var(--font-family);
    font-size: 5rem;
    letter-spacing: 10px;
    margin-bottom: 20px;
    opacity: 0.7;
    text-shadow: 3px 3px 3px #ababab;
}

.hero p {
    font-weight: bolder;
    letter-spacing: 3px;
}

.hero-join-button {
    background-color: #bd4e84e6;
    border: none;
    border-radius: 10px;
    color: var(--website-color-beige);
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 3px;
    margin-top: 18px;
    padding: 7px;
    width: 120px;
    text-align: center; 
}

.hero-join-button:hover {
    color: var(--website-color-pink);
    background-color: var(--website-color-beige);
}

.hero-join-button:active {
    background-color: #d70b66;
    color: var(--website-color-beige);
}

.main {
    flex-grow: 1;
}

.footer {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    display: flex;
    width: 100%;
}

.footer-content { 
    align-items: center;
    color: var(--website-color-beige);
    display: flex;
    font-family: var(--font-family);
    font-size: 0.9rem;
    justify-content: space-between;
    letter-spacing: var(--letter-spacing);
    padding: 40px;
    width: 100%;  
}

.footer-content-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.footer-content-right {
    align-items: center;
    display: flex;
    justify-content: right;
    width: 50%;
}

.follow-us {
    padding-right: 10px;
}

.social-icon {
    width: 40px;
}

.social-icons-container a{
    text-decoration: none;
}

.social-icon {
    width: 40px;
}

@media (min-width: 340px) and (max-width: 1024px) {
    
    .header-content {
        flex-direction: column;
    }

    .nav-menu-button a{
        font-size: var(--menu-mobile-font-size);
    }

    .nav-menu-button a[aria-current="page"] {
        padding: 10px 11px;
    }

    .search-form-mobile {
        background-color: #bd4e84cc;
        border-radius: 30px;
        display: flex;
        justify-items: space-between;
        max-width: 650px;
    }

    .search-input-mobile {
        background: transparent;
        border: none;
        color: var(--website-color-beige);
        flex-grow: 1;
        outline: none;
        padding: 5px 10px;
    }

    .search-button-mobile {
        background: transparent;
        border: none;
        outline: none;
        padding: 5px 10px;
    }

    .search-input-mobile::placeholder {
        color: var(--website-color-beige);
        font-weight: 600;
        letter-spacing: var(--letter-spacing);
        opacity: 0.7; 
    }

    .search-button-mobile i{
        color: var(--website-color-beige);
        font-size: 1.1rem;
        opacity: 0.7;
    }

    .navigation-menu {
        width: 100%;
    }

    .navigation-menu-items{
        justify-content: space-around;
        width: 100%;
    }

    .nav-menu-button a{
        font-size: var(--menu-mobile-font-size);
    }

    .search-form {
        display: none;
    }

    .search-form-mobile {
        display: block;
    }

    .hero {
        padding-top: 20px;
    }

    .hero-title {
        font-size: 2rem;
        letter-spacing: 5px;
        text-align: center;
    }

    .hero p {
        text-align: center;
    }

    .footer-content{
        flex-direction: column;
        font-size: 0.8rem;
        justify-content: space-around;
        padding: 10px;
    }

    .footer-content-left, .footer-content-right {
        width: 100%;
    }

    .footer-content-left{
        text-align: center;
    }

    .footer-content-right {
        justify-content: space-between;
        margin-top: 10px;  
    }
}